body {
  margin: 0;
  font-family: 'Conthrax Bold';
    src: url("fonts/conthrax-bold.otf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
